html, body,div[class^="container"] ,.column {
    height: 100%;
}
.promotion-posts{
    padding: 10px 0px 30px 0;
    background: #075176;
}
.promotion-posts .block-title {
    padding: 25px 0px;
    color: #fff;
}
.promotion-posts .block-title .title{
    margin-bottom: 5px;
    color: #fff;
	font-size: 3.4rem;
}
.promotion-posts .promotion-posts-slide{
	padding: 0px 80px;
}
.promotion-posts .promotion-posts-slide .owl-nav .owl-prev {
    left: -80px !important;
}
.promotion-posts .promotion-posts-slide .owl-nav .owl-next {
    right: -80px !important;
}
@media screen and (max-width: 991px) {
	.promotion-posts .promotion-posts-slide{
		padding: 0;
	}
	.promotion-posts .promotion-posts-slide .owl-nav .owl-prev {
    	left: 18px !important;
	}
	.promotion-posts .promotion-posts-slide .owl-nav .owl-next {
	    right: 18px !important;
	}
}
.product-posts{
	padding: 15px 0px 30px 0;
	background: #ececec;
}
.product-posts .block-title {
    padding: 40px 0px;
    color: #000;
}
.product-posts .block-title .title{
    margin-bottom: 5px;
    color: #075176;
	font-size: 3.4rem;
}
.service-posts{
	padding: 55px 0px 55px 0;
	background: #fff;
}
.service-posts .entry{
	margin: 0;
	padding: 0;
}
.service-posts .entry.entry-display{
	height: 100%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px 5px 10px rgba(0, 0, 0, 0.2) !important;
}
/*.service-posts  .entry.entry-display:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03), -5px 5px 10px rgba(0, 0, 0, 0.03) !important;
}*/
.service-posts .entry-body{
	padding: 10px !important;
}
.service-posts .entry-media{
	margin-bottom: 0;
}
.service-posts .entry-body{
	padding: 10px !important;
}
.service-posts .entry-body .entry-title,
.service-posts .entry-body .entry-content{
	font-size: 16px;
	text-align: left;
	line-height: 18px;
}
.service-posts .entry-body .entry-title{
	font-weight: 500;
	padding-top: 15px;
}
.service-posts .entry-body .entry-content{
	padding-top: 20px;
	font-weight: 300;
}
@media screen and (max-width: 991px) {
	.service-posts .service-posts-item{
		padding-top: 20px;
	}
}
.idea-posts{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	background: #075176;
}
.idea-posts .block-content{
	display: inline-flex;
}
.idea-posts .block-content .block-desc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.idea-posts .block-content .btn-readmore{
	background-color: #e92336;
	color: #fff;
    padding: 5px 40px;
    top: 20px;
    position: relative;
    border-radius: 8px;
    transition: all 0.4s ease;
	
}
.idea-posts .block-content .btn-readmore:hover{
	background: rgba(247, 57, 75, 0.5);
}
.idea-posts h2, .idea-posts p{
	margin-top: 20px;
	color: #fff;
}
.idea-posts p{
	font-size: 18px;
}
@media screen and (max-width: 991px) {
	.idea-posts{
		display: block;
		margin-right: 15px;
		margin-left: 15px;
		background: #075176;
	}
	.idea-posts .block-content{
		display: block;
	}
	.idea-posts .block-content .block-desc{
	    display: block;
	    padding: 40px 15px;
	    margin-bottom: 30px;
	}
}
.article-posts{
    padding: 10px 0px 30px 0;
    background: #fff;
}
.article-posts .block-title {
    padding: 25px 0px;
    color: #000;
}
.article-posts .block-title .title{
    margin-bottom: 5px;
    color: #000;
}
.article-posts .entry-display{
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03), -5px 5px 10px rgba(0, 0, 0, 0.03) !important;
}
.article-posts .entry-media{
	margin-bottom: 0;
}
.article-posts .entry-body{
	padding: 10px !important;
}
.article-posts .entry-body .entry-title,
.article-posts .entry-body .entry-content{
	font-size: 14px;
	text-align: left;
	line-height: 18px;
}
.article-posts .entry-body .entry-title{
	font-weight: 400;
}
.article-posts .entry-body .entry-content{
	font-weight: 200;
}
