.box-left{
	padding-right: 0px !important;
}
.box-right{
	padding-left: 0px !important;
}

.product-posts{
	padding: 15px 0px;
}
.product-posts .proudct-list .list-header{
	background: #4d8ed4;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}
.product-posts .proudct-list .list-nav ul.list-menu li{
	border-bottom: 2px solid #ececec;
}
.product-posts .proudct-list .list-nav ul.list-menu li.active,
.product-posts .proudct-list .list-nav ul.list-menu li:hover{
	background: #ececec;
}
.product-posts .proudct-list .list-nav ul.list-menu a{
	padding: 10px 15px;
	display: block;
}
.product-posts .proudct-list .list-nav ul.list-menu a img{
	display: inline-block;
    width: 30px;
}

.product-posts .product-title{
	font-size: 24px;
    padding: 5px 15px;
    font-weight: 500;
    margin-bottom: 0px;
	background-color: #fff;
}
.product-posts .product-title::before{
	position: absolute;
    content: "";
    height: 4px;
    width: 50px;
    top: 42px;
    background-color: #4d8ed4;
}

.product-detail-posts{
	padding: 40px 0px;
    background: rgb(236,236,236);
	background: linear-gradient(0deg, rgba(236,236,236,1) 85%, rgb(222, 222, 222) 100%);
}
.product-detail-posts .product-icon{
	text-align: center;
}
.product-detail-posts .product-icon i{
	font-size: 100px;
	color: #ccc;
}
.product-detail-posts .product-title{
	font-size: 24px;
    padding: 5px 0px;
    font-weight: 500;
    color: #4d8ed4;
}

@media screen and (max-width: 991px) {
	.product-detail-posts{
		padding: 20px;
	}
}